<div class="modal-content1">
    <div class="modal-header">
        <div class="d-flex w-100 align-items-center justify-content-between">
            <div class="col-md-9 col">
                <h4 class="modal-title">
                    {{'ADD_PAYMENT' | translate }}
                </h4>
            </div>
            <div class="col-sm-auto col-auto ml-auto">
                <button type="button" class="close" (click)="onCancel()" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </div>
    <form [formGroup]="paymentsForm">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-danger" for="paymentDate">{{'PAYMENT_DATE' | translate}} *</label>
                                <input class="form-control" id="paymentDate" formControlName="paymentDate"
                                    [owlDateTimeTrigger]="paymentDate" [owlDateTime]="paymentDate"
                                    placeholder="PaymentDate">
                                <div
                                    *ngIf="paymentsForm.get('paymentDate').touched && paymentsForm.get('paymentDate').errors">
                                    <div class="text-danger" *ngIf="paymentsForm.get('paymentDate').errors?.required">
                                        {{'PAYMENT_DATE_IS_REQUIRED' | translate }}
                                    </div>
                                </div>
                                <owl-date-time [pickerType]="'calendar'" #paymentDate></owl-date-time>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="referenceNumber"> {{'REFERENCE_NUMBER' | translate}}</label>
                                <input formControlName="referenceNumber" type="text" class="form-control"
                                    id="referenceNumber">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-danger">{{'AMOUNT' | translate}}</label>
                                <input formControlName="amount" type="text" class="form-control">
                                <div *ngIf="paymentsForm.get('amount').errors?.required">
                                    <div class="text-danger">
                                        {{'AMOUNT_IS_REQUIRED' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-danger" for="paymentMethod"> {{'PAYING_BY' | translate}} *</label>
                                <mat-select [dir]="langDir" placeholder="Select Paying by" class="form-control"
                                    formControlName="paymentMethod">
                                    <mat-option [dir]="langDir" *ngFor="let paymentMethod of paymentMethodslist"
                                        [value]="paymentMethod?.id">
                                        {{paymentMethod?.id | paymentmethod}}
                                    </mat-option>
                                </mat-select>
                                <div
                                    *ngIf="paymentsForm.get('paymentMethod').touched && paymentsForm.get('paymentMethod').errors">
                                    <div *ngIf="paymentsForm.get('paymentMethod').errors?.required">
                                        <div class="text-danger">
                                            {{'PAYMENT_METHOD_IS_REQUIRED' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group ">
                        <label>
                            {{'NOTE' | translate}}
                        </label>
                        <div class="input-group">
                            <textarea formControlName="note" class="form-control w-100">
                            </textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <div class="form-row w-100">
                <div class="col-md-auto col-auto">
                    <button *hasClaim="'PO_ADD_PO_PAYMENT'" class="btn btn-success btn-sm m-right-10"
                        (click)="savePurchaseOrderPayment()" cdkFocusInitial><i class="fas fa-save"></i>
                        {{"SAVE" | translate}}
                    </button>
                    <button class="btn btn-danger btn-sm" (click)="onCancel()">
                        <i class="fas fa-times-circle"></i>
                        {{"CANCEL" | translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>