<div class="page-header-main">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto col">
            <div class="content-header">
                <h1>{{'EXPENSE_LIST' | translate}}</h1>
            </div>
        </div>
        <div class="col-md-auto col-sm-auto">
            <a *hasClaim="'EXP_ADD_EXPENSE'" class="btn blue-btn btn-sm m-right-10" [routerLink]="'/expense/add'"
                routerLinkActive="router-link-active" routerLinkActive="router-link-active">
                <i class="fas fa-plus"></i>
                {{'ADD_EXPENSE' | translate }}
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="loading-shade" *ngIf="dataSource.loading$ | async">
            <mat-spinner></mat-spinner>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover" [dir]="langDir" mat-table [dataSource]="dataSource" matSort
                matSortActive="createdDate" matSortDirection="desc">
                <ng-container matColumnDef="action" sticky>
                    <th mat-header-cell *matHeaderCellDef class="table-column-50">
                    </th>
                    <td mat-cell *matCellDef="let expense" class="table-column-50">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button *hasClaim="'EXP_UPDATE_EXPENSE'" mat-menu-item (click)="editExpense(expense.id)">
                                <mat-icon>edit</mat-icon>
                                <span>{{'EDIT' | translate}}</span>
                            </button>
                            <button *ngIf="expense.receiptName" mat-menu-item (click)="downloadReceipt(expense)">
                                <mat-icon>cloud_download</mat-icon>
                                <span>{{'DOWNLOAD_RECEIPT' | translate}}</span>
                            </button>
                            <button *hasClaim="'EXP_DELETE_EXPENSE'" mat-menu-item (click)="deleteExpense(expense)">
                                <mat-icon>delete</mat-icon>
                                <span>{{'DELETE' | translate}}</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <ng-container matColumnDef="createdDate" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150">
                        {{'CREATED_DATE' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let expense" class="table-column-150">
                        {{expense.createdDate | utcToLocalTime:'shortDate'}} </td>
                </ng-container>
                <ng-container matColumnDef="expenseDate" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150">
                        {{'EXPENSE_DATE' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let expense" class="table-column-150">
                        {{expense.expenseDate | utcToLocalTime:'shortDate'}} </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-200 pl-3">
                        {{'AMOUNT' | translate}} </th>
                    <td mat-cell *matCellDef="let expense" class="table-column-200 pl-3">
                        {{expense.amount | customCurrency}} </td>
                </ng-container>
                <ng-container matColumnDef="reference">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-200 pl-3">
                        {{'REFERENCE' | translate}} </th>
                    <td mat-cell *matCellDef="let expense" class="table-column-200 pl-3">
                        {{expense.reference}} </td>
                </ng-container>
                <ng-container matColumnDef="expenseCategoryId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-300">
                        {{'EXPENSE_CATEGORY' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let expense" class="table-column-300"> {{expense.expenseCategory?.name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="expenseBy">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-200">
                        {{'USER' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let expense" class="table-column-200">
                        {{expense.expenseBy?.firstName}} {{expense.expenseBy?.lastName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action-search" sticky>
                    <th mat-header-cell *matHeaderCellDef> </th>
                </ng-container>
                <ng-container matColumnDef="date-search" sticky>
                    <th mat-header-cell *matHeaderCellDef> </th>
                </ng-container>
                <ng-container matColumnDef="expensedate-search" sticky>
                    <th mat-header-cell *matHeaderCellDef> </th>
                </ng-container>
                <ng-container matColumnDef="amount-search" sticky>
                    <th mat-header-cell *matHeaderCellDef> </th>
                </ng-container>
                <ng-container matColumnDef="reference-search">
                    <th mat-header-cell *matHeaderCellDef>
                        <input placeholder="{{'REFERENCE' | translate}}" type="text" class="form-control"
                            [(ngModel)]="ReferenceFilter">
                    </th>
                </ng-container>
                <ng-container matColumnDef="expenseCategoryId-search">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-select  [dir]="langDir" placeholder="{{'EXPENSE_CATEGORY' | translate}}" [(ngModel)]="CategoryFilter"
                            class="form-control w-90">
                            <mat-option value="">{{'NONE' | translate}}</mat-option>
                            <mat-option *ngFor="let category of expenseCategories" [value]="category.id">
                                {{category.name}}
                            </mat-option>
                        </mat-select>
                    </th>
                </ng-container>
                <ng-container matColumnDef="expenseBy-search" sticky>
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-select [dir]="langDir" [(ngModel)]="UserFilter" placeholder="{{'USER' | translate}}"
                            class="form-control w-90">
                            <mat-option [value]="">{{'NONE' | translate}}</mat-option>
                            <mat-option *ngFor="let user of users" [value]="user.id">
                                {{user.firstName}} {{user.lastName}}
                            </mat-option>
                        </mat-select>
                    </th>
                </ng-container>

                <ng-container matColumnDef="footer">
                    <td mat-footer-cell colspan="7" *matFooterCellDef>
                        <mat-paginator class="float-left" [length]="expenseResource.totalCount"
                            [pageSize]="expenseResource.pageSize" [pageSizeOptions]="[15, 20, 30]">
                        </mat-paginator>
                    </td>
                </ng-container>
                <ng-container *ngIf="dataSource.count === 0" matColumnDef="no-records">
                    <td mat-footer-cell colspan="7" *matFooterCellDef>
                        <b> {{'NO_DATA_FOUND' | translate}}</b>
                    </td>
                </ng-container>
                <tr *matNoDataRow>
                  <td colspan="9">
                      <span class="p-4 mt-4">
                          <b> {{'NO_DATA_FOUND' | translate}}</b>
                      </span>
                  </td>
              </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-header-row
                    *matHeaderRowDef="['action-search','date-search','expensedate-search','amount-search','reference-search', 'expenseCategoryId-search','expenseBy-search']">
                </tr>
                <tr mat-footer-row *matFooterRowDef="footerToDisplayed"></tr>
            </table>
        </div>
    </div>
</div>
