<div class="page-header-main">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header">
        <h1>{{'PURCHASE_ORDER' | translate}}#{{purchaseOrder?.orderNumber}}</h1>
      </div>
    </div>
    <div *hasClaim="['PO_GENERATE_INVOICE','POR_GENERATE_INVOICE']" class="col-md-auto col-sm-auto">
      <button class="btn blue-btn btn-sm m-right-10" (click)="generateInvoice()">
        <i class="fas fa-receipt"></i> {{'GENERATE_INVOICE' | translate}}
      </button>
    </div>
  </div>
</div>
<br>
<ng-container *ngIf="purchaseOrder">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <h5 class="">{{'SUPPLIER_ADDRESS' | translate}}</h5>
        <b> {{purchaseOrder?.supplier?.supplierName}}</b><br>
        {{purchaseOrder?.supplier?.billingAddress.address}}<br><br>{{'PHONE' | translate}}:
        {{purchaseOrder?.supplier?.mobileNo}}<br>{{'EMAIL' | translate}}:
        <ng-container *ngIf="purchaseOrder?.supplier?.email">
          <a href="mailto:{{purchaseOrder?.supplier?.email}}">{{purchaseOrder?.supplier?.email}}</a>
        </ng-container>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <h5 class="">{{'COMPANY_PROFILE' | translate}}</h5>
        <b> {{companyProfile.title}}</b><br>
        {{companyProfile.address}}<br><br>{{'PHONE' | translate}}:
        {{companyProfile.phone}}<br>{{'EMAIL' | translate}}:
        <ng-container *ngIf="companyProfile.email">
          <a href="mailto:{{companyProfile.email}}">{{companyProfile.email}}</a>
        </ng-container>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <h5 class="">{{'REFERENCE' | translate}}</h5>
        <b> {{purchaseOrder?.orderNumber}}</b><br>
        <b>{{'DATE' | translate}} : </b>{{purchaseOrder?.poCreatedDate | utcToLocalTime:'shortDate'}}
        <br><b>{{'PAYMENT_STATUS' | translate}} : </b>
        <span class="badge-pill" [ngClass]="{'badge-success': purchaseOrder?.paymentStatus == 0 ,
              'badge-danger' : purchaseOrder?.paymentStatus == 1,
              'badge-warning' : purchaseOrder?.paymentStatus == 2}">
          {{purchaseOrder?.paymentStatus | paymentStatus }}</span>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="page-header-main">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-auto col-sm-auto">
        <div class="content-header">
          <h1>{{'PURCHASE_ORDER_ITEMS' | translate}}</h1>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <thead class="head">
        <tr>
          <th style="width:1%">{{'NO.' | translate}}</th>
          <th style="width:20%">{{'DESCRIPTION' | translate}}</th>
          <th style="width:3%">{{'UNIT_PRICE' | translate}}</th>
          <th style="width:2%">{{'QUANTITY' | translate}}</th>
          <th style="width:3%">{{'DISCOUNT' | translate}}</th>
          <th style="width:5%">{{'TAX' | translate}}</th>
          <th style="width:10%">{{'TOTAL_AMOUNT' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchaseItem of purchaseOrderItems;let i=index">
          <ng-container *ngIf="purchaseItem.status == 0">
            <td style="text-align: center;">{{i+1}}</td>
            <td>{{purchaseItem.productName}}</td>
            <td class="text-right">{{purchaseItem.unitPrice | customCurrency}}</td>
            <td class="text-right">{{purchaseItem.quantity}}
              <span style="font-size: 10px;">({{purchaseItem?.product?.unit?.name}})</span>
            </td>
            <td class="text-right">{{purchaseItem.discount | customCurrency}}</td>
            <td class="text-right">{{purchaseItem.taxValue | customCurrency}}<br>
              <span style="font-size: 10px;" *ngFor="let tax of purchaseItem.purchaseOrderItemTaxes;let last=last">
                {{tax.taxName}}({{tax.taxPercentage}}%) <span *ngIf="!last">, </span>
              </span>
            </td>
            <td class="text-right">{{(purchaseItem?.quantity * purchaseItem?.unitPrice) - purchaseItem.discount +
              purchaseItem.taxValue |
              customCurrency }}
            </td>
          </ng-container>
        </tr>
        <tr class="bg-warning" *ngIf="purchaseOrderReturnsItems.length > 0">
          <td colspan="100%" class="no-border"><strong>{{'RETURNED_ITEMS' | translate}}</strong></td>
        </tr>
        <tr class="bg-warning" *ngFor="let purchaseItem of purchaseOrderReturnsItems;let i=index">
          <td style="text-align: center;">{{i+1}}</td>
          <td>{{purchaseItem.productName}}</td>
          <td class="text-right">{{purchaseItem.unitPrice | customCurrency}}</td>
          <td class="text-right"> {{ -1 * purchaseItem.quantity}}<br> <span
              style="font-size: 10px;">({{purchaseItem?.product?.unit?.name}})</span></td>
          <td class="text-right">{{-1 * purchaseItem.discount | customCurrency}}</td>
          <td class="text-right">{{-1 *purchaseItem.taxValue | customCurrency}}<br>
            <span style="font-size: 10px;" *ngFor="let tax of purchaseItem.purchaseOrderItemTaxes;let last=last">
              {{tax.taxName}}({{tax.taxPercentage}}%) <span *ngIf="!last">, </span>
            </span>
          </td>
          <td class="text-right">
            {{-1 * ((purchaseItem?.quantity * purchaseItem?.unitPrice) - purchaseItem.discount +
            purchaseItem.taxValue) | customCurrency }}
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-right total">{{'TOTAL' | translate}}</td>
          <td class="text-right total">{{purchaseOrder.totalQuantity}}</td>
          <td class="text-right total">{{purchaseOrder.totalDiscount | customCurrency}}</td>
          <td class="text-right total">{{purchaseOrder.totalTax | customCurrency}}</td>
          <td class="total">{{ purchaseOrder.totalAmount | customCurrency}}</td>
        </tr>
        <tr>
          <td colspan="6" class="text-right total">{{'PAID' | translate}}</td>
          <td class="total">{{purchaseOrder.totalPaidAmount | customCurrency}} </td>
        </tr>
        <tr>
          <td colspan="6" class="text-right total">{{'BALANCE' | translate}}</td>
          <td class="total">{{purchaseOrder.totalAmount-purchaseOrder.totalPaidAmount | customCurrency}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="purchaseOrder.purchaseOrderPayments.length > 0">
    <div class="page-header-main">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto">
          <div class="content-header">
            <h1>{{'PURCHASE_ORDER_PAYMENTS' | translate}}</h1>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="table-responsive">
      <table class="table table-bordered table-hover" style="width: 50%;">
        <thead class="head">
          <tr>
            <th>{{'PAYMENT_DATE' | translate}}</th>
            <th>{{'AMOUNT' | translate}}</th>
            <th>{{'REFERENCE_NUMBER' | translate }}</th>
            <th>{{'PAID_BY' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let purchaseItempayments of purchaseOrder.purchaseOrderPayments;">
            <td class="head">{{purchaseItempayments.paymentDate | utcToLocalTime:'shortDate'}}</td>
            <td class="head">{{purchaseItempayments.amount | customCurrency}}</td>
            <td class="head">{{purchaseItempayments.referenceNumber}}</td>
            <td class="head">{{purchaseItempayments.paymentMethod | paymentmethod}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="purchaseOrder.termAndCondition">
    <div class="page-header-main">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto">
          <div class="content-header">
            <h1>{{'TERMS_AND_CONDITION' | translate}}</h1>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          {{purchaseOrder?.termAndCondition}}<br>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="purchaseOrder.note">
    <div class="page-header-main">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto">
          <div class="content-header">
            <h1>{{'NOTE' | translate}}</h1>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          {{purchaseOrder?.note}}<br>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-1">
      <button type="button" (click)="cancel()" class="btn btn-danger btn-sm"><i class="fas fa-times-circle"></i>
        {{'CANCEL' | translate}}
      </button>
    </div>
  </div>


</ng-container>
<div class="loading-shade" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
<ng-container *ngIf="purchaseOrderForInvoice">
  <app-purchase-order-invoice [purchaseOrder]="purchaseOrderForInvoice"></app-purchase-order-invoice>
</ng-container>