.mat-card-header-text {
  margin: 0 0 !important;
}

.list-inline-item span {
  display: block;
  position: relative;
}

.ul-block {
  display: inline;
}

.pos {
  padding: 10px;
}
.content-area{
  margin-top: 0px !important;
}

