.w-100 {
  width: 100%;
}

::ng-deep .k-textbox-container,
.k-floating-label-container {
  width: 100%;
}

.chem-img {
  width: 150px;
  height: 150px;
}

.display-none {
  display: none;
  ;
}

.mt-10 {
  margin-top: 10px;
}