<div class="page-header-main">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header">
        <h1> {{'EMAIL_TEMPLATE' | translate }}</h1>
      </div>
    </div>
    <div class="col-md-auto col-sm-auto">
      <a *hasClaim="'EMAIL_MANAGE_EMAIL_TEMPLATES'" class="btn blue-btn btn-sm m-right-10"
        [routerLink]="'/emailtemplate/add'" routerLinkActive="router-link-active" routerLinkActive="router-link-active">
        <i class="fas fa-plus"></i>
        {{'ADD_EMAIL_TEMPLATE' | translate }}
      </a>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table mat-table  [dir]="langDir" [dataSource]="emailTemplates" class="table table-bordered table-hover">
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th class="table-column-300" mat-header-cell *matHeaderCellDef>
        {{'ACTION' | translate }}
      </th>
      <td class="table-column-300" mat-cell *matCellDef="let emailTemplate">
        <a *hasClaim="'EMAIL_MANAGE_EMAIL_TEMPLATES'" routerLinkActive="router-link-active"
          [routerLink]="['/emailtemplate', emailTemplate.id]" class="btn btn-success btn-sm m-right-10" type="button">
          <i class="fas fa-pen"></i>
          <span class="d-none d-sm-inline"> {{'EDIT' | translate }}</span>
        </a>
        <button *hasClaim="'EMAIL_MANAGE_EMAIL_TEMPLATES'" class="btn btn-danger btn-sm"
          (click)="delteEmailTemplate(emailTemplate)">
          <i class="fas fa-trash-alt"></i>
          <span class="d-none d-sm-inline"> {{'DELETE' | translate }}</span>
        </button>
      </td>
    </ng-container>
    <!-- Key Column -->
    <ng-container matColumnDef="name">
      <th class="table-column-300" mat-header-cell *matHeaderCellDef>
        {{'NAME' | translate }}
      </th>
      <td class="table-column-300" mat-cell *matCellDef="let emailTemplate"> {{emailTemplate.name}} </td>
    </ng-container>
    <!-- Value Column -->
    <ng-container matColumnDef="subject">
      <th class="table-column-300" mat-header-cell *matHeaderCellDef>
        {{'SUBJECT' | translate }}
      </th>
      <td class="table-column-300" mat-cell *matCellDef="let emailTemplate"> {{emailTemplate.subject}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>