$primary-blue: #2196f3;
$danger-red: #e50046;
$black: #212529;
$gray: #565e66;
$light-gray: #b4b4b4;
$green: #169c69;
$body-bg: #f9f9f9;
$golden: #b26e07;
$warning: #ffe178;
$violet: #715edf;
$pink: #ee6b6e;
$white: #fff;
$active-menu: #048af8;
//text
$primary: #2196f3;
$text-primary: #1eaae7;
$primary-text: #1eaae7;
$danger-text: #e50046;
$black-text: #212529;
$gray-text: #565e66;
$light-gray-text: #b4b4b4;
$green-text: #169c69;
$golden-text: #b26e07;
$border-lightgray: #f0f1f5;
$border-mediumgray: #e1e4ec;
//border
$primary-text: #1eaae7;
$danger-text: #e50046;
$light-gray-text: #b4b4b4;
$brand-bg: #e50046;
$white-bg: #ffffff;
$primary-bg: #2f3848;
$light-green: #8dd9a5;
$gray-bg: #7f7f7f;
$lightgray-bg: #f1f5fa;
$teal-bg: #36bebc;
$letgreen-bg: #9dba4c;
$skyblue-bg: #dbf0fd;
$lightblue-bg: #0080bb;
$silver-bg: #e8e9ec;
$orange-bg: #dd9427;
$grid-header-bg: #fafafc;
$sidebar-bg: #e9ecef;
$btn-blue: #468bc4;
$color-primary: #7092be;
//text-colors
$text-secondary: #696d77;
$text-muted: #828aa0;
$black: #000000;
$text-green: #6ad296;
$text-white: #ffffff;
$text-gray: #949494;
$text-lightgray: #b5b5b5;
$text-teal: #35b7b6;
$text-red: #e50046;
$text-blue: blue;
$icon-color: #a5abb9;
$grid-font-color: #374664;
$text-darkblue: #447198;
////borders-colors
$border-darkgray: #b6bac4;
$border-white: #fff;
$border-darkestgray: #7f7f7f;
$border-skyblue: #c5dff0;
$border-green: #169c69;
$border-red: #e50046;
$border-silver: #e8e9ec;
$border-assets: #68788a;
$border-grid: #edeff6;
.txt-blue-report {
    color: #00a2e8;
}

.bg-blue-report {
    background-color: #00a2e8;
}

.text-danger {
    color: $danger-text !important;
}
