.main-footer {
    margin-left: 0 !important;
    padding: 5px 10px;
    font-size: 13px;
    position: absolute;
    width: calc(100% - 250px);
    bottom: 0;
    margin-left: -15px !important;
}

@media (min-width: 150px) and (max-width: 600px) {
    .main-footer {
        display: none;
    }
}

.mat-checkbox-inner-container {
    margin-right: 8px !important;
}
.content-area-pos {
  margin-left: 0px !important;
}
